/* ... [other styles] ... */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #eef;
}
.tree-container {
    position: relative;
    height: 600px;
    width: 200px;
    margin: auto;
}

.star {
    position: absolute;
    top: 74px;
    left: 49%;
    transform: translateX(-50%);
    width: 60px; /* Size of the star */
    height: 60px;
    background: linear-gradient(to right, rgb(191, 167, 7), rgb(239, 239, 6)); 
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    z-index: 1000;
    animation: glowingBackground 1.5s ease-in-out infinite;
}
@keyframes glowingBackground {
    100% {
        background: linear-gradient(to right, #c2ed6d, rgb(176, 140, 33));
    }
}

/* Trunk style */
.trunk {
    position: absolute;
    bottom: 220px; /* Adjust based on tree height */
    left: 50%;
    transform: translateX(-50%);
    width: 40px; /* Width of the trunk */
    height: 40px; /* Height of the trunk */
    background-color: #8B4513; /* Brown color for trunk */
    z-index: 1000;
}

.tree {
    position: relative;
    width: 200px;
    height: 180px;
    background-color: green;
    clip-path: polygon(50% 0%, 0% 70%, 100% 70%);
    border-radius: 15px; /* Adjust for desired roundness */
    margin-bottom: -100px;
}
.tree.level-1 { 
    z-index: 999;  
    width: 200px;
    height: 180px;
    clip-path: polygon(50% 60%, 22% 100%, 78% 100%);
}
.tree.level-2 { 
    z-index: 5;
    background-color: rgb(7, 138, 7);
    /* width: 200px; 
    
    height: 155px; */
    clip-path: polygon(50% 40%, 12% 100%, 88% 100%);
}
.tree.level-3 { 
    z-index: 1; 
    clip-path: polygon(50% 20%, 0 100%, 100% 100%);

    /* width: 100px;
    height: 90px;
    bottom: 285px; */
  }

.arc {
    position: absolute;
    width: 160px;
    height: 50px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* .arc-3{
    position: absolute;
    width: 160px;
    height: 50px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 50%;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
} */



.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.dot.red {
    background-color: red;
    animation: glowR 1s infinite;
}

.dot.yellow {
    background-color: yellow;
    animation: glow 1s infinite;  
}
@keyframes glow {
    100%{
        box-shadow: 0 0 10px yellow, 0 0 12px rgb(236, 236, 153);
    }
}
@keyframes glowR {
    100% {
        box-shadow: 0 0 8px #ff0000, 0 0 12px #ff0000;
    }
}